 <ion-tabs class="tabs-positive tabs-icon-top">
     
      <ion-tab title="Home" icon="ion-earth" href="#/tab/home">
      	<ion-nav-view name="tab-home" ></ion-nav-view>
      </ion-tab>
      <ion-tab title="Aluno" icon="ion-person" href="#/tab/alunos">
      	<ion-nav-view name="tab-alunos"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Disciplinas" icon="ion-university" href="#/tab/disciplinas">
      	<ion-nav-view name="tab-disciplinas"></ion-nav-view>
      </ion-tab>
 </ion-tabs>

 